# TODO
# Develop a better way to store and modify configuration

BASE_URL = "http://localhost:8000"
FRONTEND_BASE_URL = "http://localhost:3000"

## DB

DB_HOST = "localhost"
DB_PORT = 3306
DB_USER = "root"
DB_PASSWD = "secret"
DB_NAME = "flagged"

## Auth/Security

JWT_ALG = "HS256"
# >256 bit key recommended
# JWT_HS256_SECRET = "secret"
JWT_HS256_SECRET = None  # generated randomly on start
JWT_EXPIRY_TIMEDELTA = 7 * 24 * 60  # in minutes
PASSWD_HASH_SCHEME = "argon2"
ADMIN_USER = "admin"
ADMIN_PASSWORD = "flagged"
VERIFY_USER_EMAIL = True
EMAIL_JWT_EXPIRY = 60 # in minutes
ALLOW_PASSWORD_RESET = True

## SMTP

SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = 465
SMTP_USER = "you@example.com"
SMTP_PASS = "secret"
SMTP_FROM = SMTP_USER
SMTP_TLS = True  # enables TLS either using STARTTLS or direct conn
SMTP_STARTTLS = False  # set to True, to use STARTTLS instead of direct TLS conn

## Files

# FILE_STORE_DIR = '/var/flagged/'
FILE_STORE_DIR = None  # replaced with a tempdir on start
FILE_BUFF_SIZE = 65536

## Validation

PASSWORD_MAX_LEN = 70  # bcrypt only allows 72 bytes
TOKEN_MAX_LEN = 256
USERNAME_MAX_LEN = 25
EMAIL_ADDR_MAX_LEN = 50
TEAM_NAME_MAX_LEN = 64
CHAL_NAME_MAX_LEN = 64
CHAL_DESC_MAX_LEN = 1024
FLAG_MAX_LEN = 256
FILE_PATH_MAX_LEN = 64
FILE_NAME_MAX_LEN = 64
